<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Temerant</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a href="https://facebook.com" target="_blank">
                <img src="facebooklogo.png" class="contenedor_img" />Facebook
            </a>
        </div>
        <div class="nav-item px-3">
            <a href="https://Instagram.com" target="_blank">
                <img src="instagramlogo.png" class="contenedor_img" />Instagram
            </a>
        </div>
        <div class="nav-item px-3">
            <a href="https://twitter.com" target="_blank">
                <img src="twitterlogo.png" class="contenedor_img" />Twitter
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

