@inherits LayoutComponentBase

<PageTitle>MyWebV2.0</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <Header />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="rightBar">
        <Links />
    </div>
</div>
