.esta_pagina[b-nusrafdcf3] {
    font-weight: bolder;
}

.links[b-nusrafdcf3] {}

.contenedor_libro[b-nusrafdcf3] {
    height: fit-content;
}

.libro_img[b-nusrafdcf3] {
    overflow: hidden;
    float: left;
    width: 20%;
    height: 30%;

}

.titulo_libro[b-nusrafdcf3] {
    overflow: hidden;
    text-align: center;
}
.descripcion[b-nusrafdcf3]{
    overflow: hidden;
}
.buttons[b-nusrafdcf3]{
    overflow: hidden;
    text-align: center;
}
.anterior[b-nusrafdcf3], .siguiente[b-nusrafdcf3] {
    float: left;
    width: 50%;
    color: #234b9d;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}