@page "/"

<PageTitle>Index</PageTitle>

    <div class="contenedor_medio">
        <p>
            Esta pagina fue fundada por Jose Pascual, un amante de los libros, bases de datos, y cosas varias.
        </p>
        <p>
            Actualmente esta mantenida por Jaime Cano, un loco de esos raros.
        </p>
        <p>
            Como no se que mas poner aqui, voy a poner un gif muy chulo.
        </p>
        <img src="reading-read.gif" />
    </div>