/* _content/MyWebV2.0/Pages/Index.razor.rz.scp.css */
.esta_pagina[b-fbji2hdxjc] {
    font-weight: bolder;
}

.contenedor_medio[b-fbji2hdxjc]{
    text-align: center;
}
/* _content/MyWebV2.0/Pages/Libros_recomendados.razor.rz.scp.css */
.esta_pagina[b-nusrafdcf3] {
    font-weight: bolder;
}

.links[b-nusrafdcf3] {}

.contenedor_libro[b-nusrafdcf3] {
    height: fit-content;
}

.libro_img[b-nusrafdcf3] {
    overflow: hidden;
    float: left;
    width: 20%;
    height: 30%;

}

.titulo_libro[b-nusrafdcf3] {
    overflow: hidden;
    text-align: center;
}
.descripcion[b-nusrafdcf3]{
    overflow: hidden;
}
.buttons[b-nusrafdcf3]{
    overflow: hidden;
    text-align: center;
}
.anterior[b-nusrafdcf3], .siguiente[b-nusrafdcf3] {
    float: left;
    width: 50%;
    color: #234b9d;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* _content/MyWebV2.0/Shared/Header.razor.rz.scp.css */
button[b-zfoe659jav]{
    border: 0;
    background-color: inherit;
}
img[b-zfoe659jav]{
    max-width:100%;
    max-height:100%;
}
/* _content/MyWebV2.0/Shared/Links.razor.rz.scp.css */
.navbar-toggler[b-i60etcamt3] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-i60etcamt3] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-i60etcamt3] {
    font-size: 1.1rem;
}

.oi[b-i60etcamt3] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-i60etcamt3] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-i60etcamt3] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-i60etcamt3] {
        padding-bottom: 1rem;
    }

    .nav-item[b-i60etcamt3]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-i60etcamt3]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-i60etcamt3]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}
.contenedor_img[b-i60etcamt3]{
    width: 50%;
    height: 75%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 641px) {
    .navbar-toggler[b-i60etcamt3] {
        display: none;
    }

    .collapse[b-i60etcamt3] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/* _content/MyWebV2.0/Shared/MainLayout.razor.rz.scp.css */
.page[b-zeunz5cd8e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zeunz5cd8e] {
    flex: 1;
}

.sidebar[b-zeunz5cd8e] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.rightBar[b-zeunz5cd8e] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zeunz5cd8e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
}

    .top-row[b-zeunz5cd8e]  a, .top-row .btn-link[b-zeunz5cd8e] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-zeunz5cd8e] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zeunz5cd8e] {
        display: none;
    }

    .top-row.auth[b-zeunz5cd8e] {
        justify-content: space-between;
    }

    .top-row a[b-zeunz5cd8e], .top-row .btn-link[b-zeunz5cd8e] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zeunz5cd8e] {
        flex-direction: row;
    }

    .sidebar[b-zeunz5cd8e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zeunz5cd8e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-zeunz5cd8e], article[b-zeunz5cd8e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/MyWebV2.0/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-krfet7osvy] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-krfet7osvy] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-krfet7osvy] {
    font-size: 1.1rem;
}

.oi[b-krfet7osvy] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-krfet7osvy] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-krfet7osvy] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-krfet7osvy] {
        padding-bottom: 1rem;
    }

    .nav-item[b-krfet7osvy]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-krfet7osvy]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-krfet7osvy]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-krfet7osvy] {
        display: none;
    }

    .collapse[b-krfet7osvy] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
